<?xml version="1.0"?>
<robot name="qcl" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:include filename="$(find qcl_description)/urdf/xacro/qcl_base.xacro" />
    <xacro:include filename="$(find qcl_description)/urdf/xacro/sensors/camera.xacro" />

    <xacro:property name="camera_offset_x" value="0.05" />
    <xacro:property name="camera_offset_y" value="0" />
    <xacro:property name="camera_offset_z" value="0.08" />

    <qcl_base/>

    <!-- Camera -->
    <joint name="camera_joint" type="fixed">
        <origin xyz="${camera_offset_x} ${camera_offset_y} ${camera_offset_z}" rpy="0 0 0" />
        <parent link="base_link"/>
        <child link="camera_link"/>
    </joint>

    <xacro:usb_camera prefix="camera"/>

</robot>
