<?xml version="1.0"?>
<robot name="arm" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:include filename="$(find qcl_description)/urdf/xacro/gazebo/qcl_base_gazebo.xacro" />
    <xacro:include filename="$(find qcl_description)/urdf/xacro/sensors/rplidar_gazebo.xacro" />

    <xacro:property name="lidar_offset_x" value="-0.022" />
    <xacro:property name="lidar_offset_y" value="0" />
    <xacro:property name="lidar_offset_z" value="0.078" />

    <qcl_base/>

    <!-- lidar -->
    <joint name="lidar_joint" type="fixed">
        <origin xyz="${lidar_offset_x} ${lidar_offset_y} ${lidar_offset_z}" rpy="0 0 0" />
        <parent link="base_link"/>
        <child link="rplidar_link"/>
    </joint>

    <xacro:rplidar prefix="rplidar"/>

</robot>
